*
{
    margin: 0;
    padding: 0;
}
.homePage
{
    height: 100vh;
    width: 100%;
    background: url(Images/background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em;
}
.logo
{
    width: 10em;
    cursor: pointer;
}
nav ul
{
   /* flex: 1; */
   background-color: #242b5f;
   border-radius: 10px;
   padding: 0.6em 0em;
}
nav ul li 
{
    display: inline;
    margin: 0em 1em;
}
nav ul li a
{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    padding: 0.4em 1em;
    border-radius: 10px;
}
nav ul li a:hover
{
    text-decoration: none;
    font-family: sans-serif;
    color: #242b5f;
    padding: 0.2em 1em;
    border-radius: 10px;
    background-color: #ebc3e3;
}
.cart
{
    width: 2.5em;
    cursor: pointer;
}
nav ul li
{
    
}
nav ul li a
{
    text-decoration: none;
}