*
{
    margin: 0;
    padding: 0;
}
.homePage
{
    height: 100vh;
    width: 100%;
    background: url(Images/background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1920px;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0em;
}
.logo
{
    width: 7em;
    cursor: pointer;
}
nav ul
{
   /* flex: 1; */
   background-color: #232d60;
   /* background-color: #242b5f; */
   border-radius: 10px;
   padding: 0.8em 0em;
   display: none;
}
nav ul li 
{
    display: inline;
    margin: 0em 0.35em;
}
nav ul li a
{
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 18px;
    color: white;
    padding: 0.4em 1em;
    border-radius: 10px;
}
nav ul li a:hover
{
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 18px;
    color: #242b5f;
    padding: 0.1em 1em;
    border-radius: 10px;
    background-color: #ebc3e3;
}
.hamburger
{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 2em;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background-color: #232d60;
    border-radius: 6px;
    z-index: 1;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2)
{
   transform: translateX(10px);
   background-color: #ff77cd;
}
.hamburger.is-active span:nth-child(1)
{
    transform: translate(0px -2px) rotate(45deg);
}
.cart
{
    width: 2em;
    cursor: pointer;
}


/* Here we are styling the main page content */
.content
{
    margin-left: 8%;
    margin-top: 15%;
    margin-right: 8%;
    display: inline-block;
}
.content h1
{
    font-size : 30px;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #232d60;
}
.content p
{
    font-size :20px;
    font-family: 'Neucha', cursive;
    /* font-family: sans-serif; */
    color: #6a7199;
}
.content a
{
    font-size : 20px;
    font-family: 'Neucha', cursive;
    background: linear-gradient(45deg , #87adfe,#ff77cd);
    border-radius: 10px;
    padding: 0.3em 0.4em;
    text-decoration: none;
    color: white;   
    text-shadow: #ff77cd;
}
.model_img
{
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 20px;
}


/* Here is the code for the media queries */

@media only screen and (min-width: 320px)  and (max-width:767px)
{
    nav ul
  {
   background-color: #232d60;
   border-radius: 10px;
   padding: 0.5em 0em;
   display: none;
  }

  .hamburger
  {
      display: block;
      position: relative;
      z-index: 1;
      user-select: none;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
  }

    .content h1
  {
    font-size : 32px;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #232d60;
  }

   .content p
  {
    font-size :20px;
    font-family: 'Neucha', cursive;
    color: #6a7199;
  }

  .model_img
  {
    height: 45%;
    position: absolute;
    bottom: 0;
    right: 20px;
    
  }
}

@media only screen and (min-width: 768px) and (max-width:1799px)
{
    nav ul
  {
   background-color: #232d60;
   border-radius: 10px;
   padding: 0.5em 0em;
   display: block;
  }

  .hamburger
  {
      display: none;
      position: relative;
      z-index: 1;
      user-select: none;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
  }

    .content h1
  {
    font-size : 70px;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #232d60;
  }

   .content p
  {
    font-size :25px;
    font-family: 'Neucha', cursive;
    color: #6a7199;
  }

  .model_img
  {
    height: 55%;
    position: absolute;
    bottom: 0;
    right: 20px;
    
  }
}


@media only screen and (min-width: 1800px) and (max-width: 1px)
{
   .logo
   {
    width: 10em;
    cursor: pointer;
   }
    nav ul
  {
   background-color: #232d60;
   border-radius: 10px;
   padding: 1em 0em;
   display: block;
  }
  nav ul li a
  {
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 26px;
    color: white;
    padding: 0.4em 1em;
    border-radius: 10px;
  }
  nav ul li a:hover
  {
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 26px;
    color: #242b5f;
    padding: 0.1em 1em;
    border-radius: 10px;
    background-color: #ebc3e3;
  }

  .content
 {
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 8%;
    display: inline-block;
 }
 .content a
 {
   font-size : 28px;
   font-family: 'Neucha', cursive;
   background: linear-gradient(45deg , #87adfe,#ff77cd);
   border-radius: 10px;
   padding: 0.4em 0.5em;
   text-decoration: none;
   color: white;   
   text-shadow: #ff77cd;
 }
 .content h1
 {
   font-size : 75px;
   font-weight: 1000;
   margin-top: 22px;
   margin-bottom: 10px;
   color: #232d60;
 }

   .content p
  {
    font-size :35px;
    font-family: 'Neucha', cursive;
    color: #6a7199;
  } 

  .cart
  {
    width: 3em;
    cursor: pointer;
  }

  .model_img
  {
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 20px;
    
  }
} 

